@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=Baloo+Bhaina+2&family=Roboto&display=swap');

ul li:hover {
    text-decoration: underline;
    color: black;
}

ul li {
    color: black;
}

ul li:active {
    text-decoration: underline;
}

.your-name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.main-button {
    margin-top: 10px;
}

.first-container {

    padding: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #8080802b;

}

.second-container h2 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

.second-container {

    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
}

.second-container p {
    word-wrap: break-word;
    text-align: center;
    font-family: sans-serif;
}

.third-container {
    margin-top: 50px;
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #80808014;

}

.third-container h3 {
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

.four-container {
    margin-top: 80px;
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 75%;
    box-shadow: rgb(33 37 41 / 74%) 0px 0px 20px 2px;
}

.service-col {
    margin-top: 50px;
}

.four-container h3 {
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

.four-container h4 {
    font-weight: bold;
}

.four-container p {
    font-family: sans-serif;
}

.fifth-container {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
}

.fifth-container h3 {
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}

.contact-us-heading {
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

.project-image {
    margin-bottom: 50px;
}

/* Section: Form*/
.section-form {
    padding-bottom: 120px;
}

.section-form .btn {
    margin-top: 40px;
}

/* Input fields */
.form-control {
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #212121;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    outline: 0 none transparent;
    -webkit-appearance: none;
}

textarea {
    margin-top: 40px;
    height: 200px;
    resize: none;

}

.form-control:focus {
    box-shadow: none;
    border-bottom-color: #e1e1e1;
}

::-moz-placeholder,
::-webkit-input-placeholder {
    font-size: 16px;
}

